

<template id="carousel-elememt">
    <style>
      :host{
            --primary-color: #009688;
            --dark-primary-color: #00796B;
            --accent-color: #FF5252;
            --light-primary-color: #B2DFDB;
            --text-primary-color: #212121;
            --accent-text-color: #757575;
      } 

      img{
			  width: 100%;
			  height: 100%;
      }
      
      section{
        display: flex;
        justify-content: center;
      }

      #slider{
        width: 50%;
        height:50%;
        position: relative;
        border: 1em solid white;
        box-shadow: 0px 0px 5px 2px #9E9E9E;
      }

      button{
        padding: 10px;
        border: none;
        background: var(--accent-color);
        font-size: 13px;
        color: white;
        cursor: pointer;
      }


      .button-section{
        display: flex;
        justify-content: space-around;
        margin-top: -2.2em;
      }

    </style>

    <section>
      <div id="slider">
        <div id="box">
          <img src="/src/img/a.jpg">
        </div>
        <div class="button-section">
          <button id="btn-next">next</button>
          <button id="btn-prev">prev</button>    
        </div>
      </div>
      
    </section>



</template>
  
  <script>
    (function CarouselComponent(customElements, document) {
      'use strict';
  
      class CarouselComponent extends HTMLElement {
 
        constructor() {
          super();
  
          const shadowRoot = this.attachShadow({mode: 'open'});
          const templ = document.currentScript.ownerDocument.querySelector('template');
          shadowRoot.appendChild(document.importNode(templ.content, true));  

          this._db=[
            {
              "img":"",
              "title": "info"
            },
            {
              "img":"",
              "title":""
            },
            {
              "img": "",
              "title": ""
            }
          ]
        }

               
        connectedCallback() {

          this.shadowRoot.querySelector('#btn-next')
            .addEventListener('click', this._nextImage());

          this.shadowRoot.querySelector('btn-prev')
          .addEventListener('click',this._prevImage());
        }          
        
        _nextImage(){
          console.log("this is a next ");
        }

        _prevImage(){
          console.log("This is a prev");
        }

      }
  
      customElements.define('carousel-component', CarouselComponent);
    })(window.customElements, document)
  </script> 