

<template id="carousel-elememt">
    <style>
      :host{
            --primary-color: #009688;
            --dark-primary-color: #00796B;
            --accent-color: #FF5252;
            --light-primary-color: #B2DFDB;
            --text-primary-color: #212121;
            --accent-text-color: #757575;
      } 

      img{
			  width: 100%;
			  height: 100%;
      }
      
      section{
        display: flex;
        justify-content: center;
      }

      #slider{
        width: 50%;
        height:50%;
        position: relative;
        border: 1em solid white;
        box-shadow: 0px 0px 5px 2px #9E9E9E;
      }

      iframe{
        width: 100%;
        height: 100%;
      }

      p[id="slider-child"] {
        font-size: 40px;
        text-align: center;
        color: var(--accent-color);
      }

      button{
        padding: 10px;
        border: none;
        background: var(--accent-color);
        font-size: 13px;
        color: white;
        cursor: pointer;
      }


      .button-section{
        display: flex;
        justify-content: space-around;
      }

    </style>

    <section>
      <div id="slider">
        <div id="box">
        </div>
        <div class="button-section">
          <button id="btn-next">next</button>
          <button id="btn-prev">prev</button>    
        </div>
      </div>
      
    </section>

</template>
  
  <script>
    (function CarouselComponent(customElements, document) {
      'use strict';
  
      class CarouselComponent extends HTMLElement {
 
        constructor() {
          super();
  
          const shadowRoot = this.attachShadow({mode: 'open'});
          const templ = document.currentScript.ownerDocument.querySelector('template');
          shadowRoot.appendChild(document.importNode(templ.content, true));  
          
          this._db=[
            {
              "type": "video",
              "src": "https://www.youtube.com/embed/tgbNymZ7vqY",              

            },
            {
              "type": "text",
              "src": "Documento",              
            },
            {
              "type": "img",
              "src": "http://cdn.warnerestrenos.com/res/series/flash2017/header/header_minisite_big.jpg",              
            },
            {
              "type": "video",
              "src": "https://www.youtube.com/embed/WNxSJpKsdDc",              
            }

          ];
          this._count = this._db.length;

        }
        
        connectedCallback() {
          
          this.shadowRoot.querySelector('#btn-next')
            .addEventListener('click', this._nextImage.bind(this));
          this.shadowRoot.querySelector("#btn-prev")
            .addEventListener('click',this._prevImage.bind(this));
        }          
        
        _nextImage(){
          if (this._count < this._db.length) {
            this._count = this._count +1;
          }else{
            this._count = 0;
          }
          this._getTypeElement(this._count);
        }

        _prevImage(){
          debugger;
          if (this._count<this._db.length+1 && this._count>1) {
            this._count= this._count-1;
          }else{
            this._count = this._db.length;
          }

          this._getTypeElement(this._count);

        }

        _getTypeElement(typeElement){
          console.log(typeElement);
          let data =  this._db[typeElement];
          if (data.type == 'text'){
            this._isTypeText(this._count);
          } else if(data.type == 'video'){
            this._isTypeVideo(this._count);
          } else if (data.type =='img'){
            this._isTypeImage(this._count);
          }

        }

        _isTypeVideo(element){
          this._removedChield();

          let box = this.shadowRoot.querySelector("#box");
          let video = document.createElement("iframe");
          video.setAttribute("src",this._db[element].src);
          video.setAttribute("id", "slider-child");
          box.parentNode.insertBefore( video, box);

        }

        _isTypeImage(element){
          console.log(element);
          this._removedChield();

          let box = this.shadowRoot.querySelector("#box");
          let img = document.createElement("img");
          img.setAttribute("src",this._db[element].src);
          img.setAttribute("id", "slider-child");

          console.log("datio")
          console.log(img)
          box.parentNode.insertBefore( img, box);
        }

        _isTypeText(element){
          this._removedChield();
          let box = this.shadowRoot.querySelector("#box");
          let text = document.createElement("p");          
          text.setAttribute("id", "slider-child");
          text.setAttribute('class',"text-style")
          var node = document.createTextNode(this._db[element].src);
          text.appendChild(node)
          box.parentNode.insertBefore( text, box);
        }

        _removedChield(){
            let item = this.shadowRoot.getElementById("slider-child");
            if(item === null || item === undefined){
              console.log("no exitst")
            }else{
              let box = this.shadowRoot.querySelector("#box");
              box.parentNode.removeChild(item);
            }
        }

        nextImage(){
          console.log("demos");
        }


      }

      customElements.define('carousel-component', CarouselComponent);
    })(window.customElements, document)
  </script> 
