:root{
    --primary-color: #009688;
    --dark-primary-color: #00796B;
    --accent-color: #FF5252;
    --light-primary-color: #B2DFDB;
    --text-primary-color: #212121;
    --accent-text-color: #757575;
} 

body{
    background-color: var(--light-primary-color)
}


.container-carusel{
    display: flex;
    justify-content: center;
    align-items: center;
}